<div style="padding-left:16px">
  <h2>* 프로필 *</h2>
  <hr>
</div>

<div style="height:70%">
  <div class="card">
    {{#if dogs}}
      {{#each dogs}}
      <img src="{{#if picture}}{{picture}}{{else}}dog.gif{{/if}}" onerror="this.src='dog.gif';" style="width:100%">
      <h1>{{name}}</h1>
      <p class="title">"{{#if comment}}{{comment}}{{else}}코멘트가 없습니다{{/if}}"</p>
      <p>나이 : {{monthAge}} 개월</p>
      <p> 종 : {{breed}}</p>
      <p style="padding-bottom: 30px"> 몸무게 : {{#if weight}}{{weight}}kg{{else}}아직 측정되지 않았습니다!{{/if}} </p>

      {{/each}}
    {{else}}
    <h2>강아지를 등록해주세요</h2>
    <form method="POST" action="dog" style="display:block; width: 100%" enctype="multipart/form-data">
      <input style="margin: 0 auto" type="text" name="name" placeholder="이름">
      <select name="breed" style="margin: 0 auto; width:50%">
        <option value="0">종 선택</option>
        <option value="1">퍼그</option>
        <option value="2">말티즈</option>
        <option value="3">치와와</option>
        <option value="4">비글</option>
        <option value="5">골든 리트리버</option>
        <option value="6">포메나리안</option>
        <option value="7">진돗개</option>
        <option value="8">닥스훈트</option>
      </select>
      <input style="margin: 0 auto" id="datepicker" name="birth" placeholder="출생일" />
      <script>
          $(() => {
            $('#datepicker').datepicker();
          })
      </script>
      <input style="margin: 0 auto" type="file" name="picture" accept="image/*"/>
      <input style="margin: 0 auto" name="comment" placeholder="코멘트"/>
      <p>
        <button>등록하기</button>
      </p>
    </form>
    {{/if}}
  </div>
</div> 